.login-form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .title{
    font-size: 24px;
    line-height: 36px;
    margin: 12px;
    text-align: center;
  }


.value {
    font-weight: bold;
    color: black;
}